/* marcar a tag, o id ou a classe */
body{
    background-color: rgb(64, 57, 70);
}

/* chamando por id usa # */



/* chamando por class usa . */
.corpo{
    color:rgb(0, 0, 0);
    font-size:16px;
    font-family:arial;
}